
@font-face {
    font-family: "digital";
    src: url("../assets/fonts/digital.ttf");
  }
body{
    margin:0;
    padding:0;
}
#view-container{
    display: block;
    width: 100vw;
    height:100vh;
    background-color: black;
    overflow: hidden;
    
}
#background{
    width:100vw;
    height:100vh;
    display:block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.beforeImage{
    position: absolute;
    width:100%;
    height:100%;
    display:block;
    background-repeat: no-repeat;
    background-size: cover;
}
#clock{
    position: absolute;
    /* transform:translate(-50%,-50%); */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#clock .time{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock .dot{
    opacity: 0.2;
    margin-top: -2%;
}
#clock .dot.active{
    opacity: 1;
}